html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid grey;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", cursive;
  background-color: black;
  margin: 20%;
}

.pageContainer {
  display: flex;
  flex-flow: row no-wrap;
  background-color: #695f4d;
  border: 1px solid grey;
}

#cSheet {
  width: 50%;
  border: 6px solid black;
}

/* Top Section of cSheet */

.cSheetTop {
  display: flex;
  justify-content: space-between;
}

.cSheetTop p {
  margin: 2%;
}

#map {
  width: 60%;
  margin: 3%;
}

.charArt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charArt img {
  width: 30%;
  height: 30%;
  margin: auto;
}

charArt span {
  width: 100%;
}

/* Middle Section of cSheet */

.cSheetMid {
  display: flex;
  width: 100%;
  flex-flow: row no-wrap;
  justify-content: space-between;
}

.cSheetMid div {
  width: 100%;
  align-content: center;
}

.cSheetPlayerStats {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
}

.cSheetPlayerStats div {
  display: flex;
}

.cSheetStatField p {
  padding: 4%;
  width: 50%;
  margin: 1%;
  font-size: 1.4rem;
}

.cSheetPlayerValues {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

div.cSheetPlayerValues {
  margin: 1%;
}

.cSheetHealth {
  display: flex;
  flex-flow: row no-wrap;
  padding: 5%;
  font-size: 1.5rem;
}

.cSheetHealth img {
  width: 15%;
}

.cSheetArmor {
  display: flex;
  flex-flow: row no-wrap;
  padding: 5%;
}

.cSheetArmor img {
  width: 15%;
}

.cSheetWeapon {
  display: flex;
  flex-flow: row no-wrap;
  padding: 5%;
  font-size: 1.5rem;
}

.cSheetWeapon img {
  width: 15%;
}

.cSheetBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cSheetInventory {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5%;
}

.items {
  width: 25%;
  padding: 4%;
  margin: 2%;
}

#room {
  width: 50%;
  border: 6px solid black;
}
