/*CSS RESET*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0;   */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*GENERAL STYLES*/

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 3px solid black;
  background-color: brown;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", cursive;
  background-color: #8b0000;
  max-width: 100%;
  height: 100%;
  margin: 2%;
}

/*GENERAL STYLES*/

header h1 {
  text-align: center;
  margin: auto;
}

header {
  border-bottom: 4px solid black;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
  margin: 2% 5%;
}

/* BEGIN INTERFACE CSS */

/* Begin cSheet Css */

.pageContainer {
  display: flex;
  flex-flow: row no-wrap;
  background-color: #695f4d;
  border: 1px solid grey;
  width: 100%;
  margin: auto;
}

.pageContainer div {
  background-color: #695f4d;
}

#cSheet {
  max-width: 50%;
  border: 6px solid black;
  margin: 1%;
  display: flex;
  flex-flow: column nowrap;
}

/* Top Section of cSheet */

.cSheetTop {
  display: flex;
  justify-content: space-between;
}

.cSheetTop p {
  margin: 2%;
}

.charArt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  width: 38%;
  border: 3px solid black;
}

.charArt img {
  background-color: #695f4d;
}

#playerName {
  background-color: #695f4d;
}

#map {
  width: 50%;
  margin: 1%;
}

.mapFloor1 {
  /* padding: 6%; */
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh;
  /* display: flex;
  justify-content: space-between;
  align-items: space-between; */
}

#map p {
  border: none;
}

.charArt p {
  max-width: 100%;
  font-size: 1.3rem;
  padding: 3%;
  border: 1px solid black;
}

#playerName {
  font-size: 1.5rem;
}

.charArt img {
  width: 30%;
  height: 30%;
  margin: auto;
}

/* Middle Section of cSheet */

.cSheetMid {
  display: flex;
  width: 100%;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

.cSheetMid div {
  width: 100%;
  align-content: center;
}

.cSheetPlayerStats {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
}

.cSheetPlayerStats div {
  display: flex;
}

.cSheetStatField p {
  padding: 4%;
  width: 50%;
  margin: 1%;
  font-size: 1.4rem;
}

.stat {
  background-color: #695f4d;
}

.cSheetPlayerValues {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
cSheetPlayerValues div {
  margin: 1%;
}

.cSheetHealth {
  display: flex;
  flex-flow: row no-wrap;
  padding: 5%;
  font-size: 1.5rem;
}

.cSheetHealth img {
  width: 15%;
  background-color: #695f4d;
}

.cSheetArmor {
  display: flex;
  flex-flow: row no-wrap;
  padding: 5%;
}

.cSheetArmor img {
  width: 15%;
  background-color: #695f4d;
}

.cSheetWeapon {
  display: flex;
  flex-flow: row nowrap;
  padding: 5%;
  font-size: 1.5rem;
}

.cSheetWeapon img {
  width: 15%;
  background-color: #695f4d;
}

/* Bottom section of CSheet */

.cSheetBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cSheetInventory {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5%;
}

.cSheetInventory p {
  background-color: #695f4d;
}

.items {
  width: 25%;
  padding: 4%;
  margin: 2%;
}

/* Right Side */

.rightSide {
  width: 50%;
  background-color: #695f4d;
  border: none;
  display: flex;
}

.rightSide div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  /* background-color: #695f4d; */
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.storyContainer p {
  width: 100%;
  margin: 1%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding: 5%;
}
